html {
  size: 100%;
}

* {
  list-style: none;
}

body {
  font-family: "PT Sans", sans-serif;
}

/*navigation menu*/

#logobox {
  text-align: center;
  margin-top: rem;
}

#logo {
  width: 80px;
  height: 80px;
  border: 2px solid white;
  margin-top: 1.4rem;
  margin-bottom: 1rem;
}

#navbar {
  background-color: #222;
}

#navbar h2 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  font-family: "Oxygen", sans-serif;
}

#navbar ul {
  padding-left: 0;
}

#navbar ul li {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid #3d3d3d;
  border-top: 1px solid #3d3d3d;
  padding-left: 0px;
  text-align: center;
}

#navbar ul li a {
  color: #838383;
  display: block;
  font-size: 1rem;
  position: relative;
  line-height: 1.5rem;
}

/*remove this to remove home active*/
#navbar ul li #home {
  color: #ffffff;
}

#navbar ul li a .fas {
  width: 40px;
}

#navbar ul li a:hover {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

#navbar ul li a:before {
  /*change top*/
  content: "";
  position: absolute;
  right: 0;
  top: -12px;
  width: 0%;
  height: 0px;
  background-color: #ff724c;
}

#navbar ul li a:hover:before {
  width: 3%;
  height: 72px;
  transition: 0.1s;
}
/*remove this to remove home active*/
#navbar ul li #home:before {
  width: 3%;
  height: 72px;
  transition: 0.1s;
}

#navbar ul li a:active {
  color: rgb(155, 154, 154);
  text-decoration: none;
  transition: 0.1s;
}

#navbar ul li a:active:before {
  width: 3%;
  height: 75px;
  transition: 0.1s;
}

#backgroundimage {
  margin-top: -1rem;
  position: relative;
}

#imagetext {
  color: #ff724c;
  position: absolute;
  bottom: -34%;
  left: 27%;
}

#imagetext h2 {
  font-weight: 600;
  font-size: 2rem;
  font-family: "Oxygen", sans-serif;
}

#about {
  width: 490px;
  height: 370px;
  background-color: #222222;
  position: absolute;
  bottom: -71%;
}

#margin {
  color: white;
  border-left: 7px double #ff724c;
  width: 100%;
  height: 100%;
  margin-left: 2rem;
}

#scrollbase {
  padding-left: rem;
  padding-right: rem;
  padding-top: 1rem;
}

.scroll {
  width: 450px;
  height: 330px;
  overflow-x: hidden;
  overflow-y: scroll;
}
#main-content {
  padding-right: 1rem;
  padding-left: 1rem;
  text-align: justify;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #b5b5b5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border: 15px solid #ff724c;
  border-radius: 90px;
}

/*slider*/

@media (min-width: 410px) {
  #imagetext h2 {
    font-size: 2.5rem;
  }

  #imagetext {
    left: 30%;
    bottom: -40%;
  }
}

@media (min-width: 550px) {
  #imagetext h2 {
    font-size: 3rem;
  }
  #imagetext {
    left: 33%;
    bottom: -23%;
  }
}

@media (min-width: 650px) {
  #about {
    width: 650px;
    height: 500px;
    background-color: #222222;
    position: absolute;
    bottom: -93%;
    right: 6%;
  }
  .scroll {
    width: 600px;
    height: 460px;
  }
}

@media (min-width: 700px) {
  #imagetext h2 {
    font-size: 3.9rem;
  }
  #imagetext {
    left: 33%;
    bottom: -32%;
  }
}

@media (min-width: 780px) {
  #about {
    width: 750px;
    height: 580px;
    background-color: #222222;
    position: absolute;
    bottom: -107%;
    right: 4%;
  }
  .scroll {
    width: 690px;
    height: 490px;
  }
}

@media (min-width: 900px) {
  .box {
    display: flex;
  }

  #navbar {
    width: 570px;
  }

  #bgimg {
    width: 100%;
    height: 650px;
  }

  #imagetext h2 {
    font-size: 4.8rem;
  }
  #imagetext {
    bottom: 47%;
    left: 40%;
  }
  #about {
    width: 1030px;
    height: 560px;
    background-color: #222222;
    position: absolute;
    top: 5%;
    left: 17%;
  }
  .scroll {
    width: 980px;
    height: 510px;
  }
}

@media (min-width: 1450px) {
  #bgimg {
    width: 100%;
    height: 100%;
  }
  #about {
    width: 1230px;
    height: 660px;
    background-color: #222222;
    position: absolute;
    top: 5%;
    left: 17%;
  }
  .scroll {
    width: 1180px;
    height: 610px;
  }
}
