* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Oxygen', sans-serif;
  color: white;
}

.container {
    margin: 0;
    padding: 0;
}

.topnav h2 {
display: none;
}

.navbar {
  border-top: 1px solid #363636;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: white;
  width: 15rem;
  height: 100vh;
  display: none;
  z-index: 4;
  margin-top: 4rem;
  overflow-x: hidden;
    overflow-y: scroll;
}

#logo {
  margin-top: 2rem;
  width: 7rem;
  height: 7rem;
  border: 2px solid white;
}

.brand-title {
  text-align: center;
  margin: 0.5rem;
}

.brand-title h1 {
  font-size: 2rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 2rem;
}

.navbar-links li {
  list-style: none;
  border-top: 1px solid #363636;
  padding-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
}

.navbar-links li a {
  text-decoration: none;
  color: #a3a3a3;
  display: block;
}

.navbar-links .fas {
    font-size: 1.7rem;
}

.navbar-links li a:before {
    content: "";
    position: absolute;
    right: 0;
    top: 1px;
    width: 0%;
    height: 0px;
    background-color: #ff724c;
}

.navbar-links li a:hover:before {
    width: 3%;
    height: 60px;
    transition: 0.1s;
}


.navbar-links li a:hover {
  color: white;
}

.toggle-button {
    position: absolute;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  top: 1.1rem;
  right: 2rem;
  z-index: 2;
 
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #ff724c;
  border-radius: 10px;
}

/*pc navbar*/

.navbar-pc {
    border-top: 1px solid #363636;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color: white;
    width: 17rem;
    height: 100vh;
    display: none;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  #logo-pc {
    margin-top: 2rem;
    width: 8rem;
    height: 8rem;
    border: 2px solid white;
  }
  
  .brand-title-pc {
    text-align: center;
    margin: 0.5rem;
  }
  
  .brand-title-pc h1 {
    font-size: 2rem;
  }
  
  .navbar-links-pc ul {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 3.8rem;
  }
  
  .navbar-links-pc li {
    list-style: none;
    border-top: 1px solid #363636;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    position: relative;
    font-size: 1.5rem;
  }

  .navbar-links-pc .fas {
      font-size: 1.7rem;
  }
  
  .navbar-links-pc li a {
    text-decoration: none;
    color: #a3a3a3;
    display: block;
  }
  
  .navbar-links-pc li a:before {
      content: "";
      position: absolute;
      right: 0;
      top: 1px;
      width: 0%;
      height: 0px;
      background-color: #ff724c;
  }
  
  .navbar-links-pc li a:hover:before {
      width: 3%;
      height: 65px;
      transition: 0.1s;
  }
  
  
  .navbar-links-pc li a:hover {
    color: white;
  }
  
  .navbar-links-pc li a.active {
    color: white;
  }
 
  .navbar-links-pc li a.active:before {
    width: 3%;
    height: 65px;
    transition: 0.1s;
}

.navbar-links li a.active1 {
  color: white;
}

.navbar-links li a.active1:before {
  width: 3%;
  height: 60px;
  transition: 0.1s;
}


/*content*/

.flexbox {
    display: flex;
}

.content {
    background-image: url(../image/bg.jpg);
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    position: relative;

}

.content .text {
    text-align: center;
    margin-top: 40vh;
}

.content .text h1 {
    font-size: 7rem;
    color: #ff724c;
    font-weight: 700;
}

/*test*/

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

/*all five*/
.content-container {
  margin-left: 4rem;
  margin-right: 2rem;
  margin-top: 3rem;
}

.content-container h1 {
  font-size: 6rem;
  color: #555;
  text-align: center;
  font-weight: 700;
  padding-top: 1.5rem;

}

/*about me*/



#about-me {
    width: 80vw;
    height: 93vh;
    background-color: #222;
    position: absolute;
    top: 4vh;   
    right: 5vw;
    left: 5vw;
    max-width: 130rem;
    margin: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    
}

.content-container {
  margin-left: 4rem;
  margin-right: 2rem;
  margin-top: 3rem;
}

.about-top {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}
.top-c {
  width: 32rem;
  height: auto;
  margin-top: 3rem;
  
}

#a-logo {
  width: 28rem;
  height: 28rem;
  margin-top: 5rem;
}

.top-c p {
  font-size: 1.34rem;
  line-height: 2.4rem;
  text-align: justify;
  color: rgb(223, 223, 223);
}


.detail {
  margin-top: 1rem;
  line-height: 3.5rem;
}

.detail1 {
  border-bottom:2px solid #ff724c ;
  font-weight: 700;
}

.detail2 {
  font-size: 1.3rem;
}

.detail2 a{
  color: #f78160;
  text-decoration: none;
}

.detail2 a:hover {
  color: #ff724c;
}

.icon {
  margin-top: 1.5rem;
}

.fab {
  padding: 10px 8px 10px 8px;
  border: 1px solid #555;
  font-size: 16px;
  font-weight: 400;
}

.icon a {
  color: #e5e5e5;
}

.fab:hover {
  background-color: #ff724c;
  transition: 0.5s;
}

#twitter {
  padding: 10px 10px;
}

#facebook {
  padding: 10px 13px;
}

#yt {
  padding: 10px 9px;
}

#insta {
  padding: 9.5px 10px;
  font-size: 18px;
}



.services {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

.service-child {
  width: 23rem;
  height: auto;
  text-align: center;
  margin-top: 2rem;
}

#service-icon {
  width: 7rem;
}

.service-child h3 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem;
  margin-top: 1rem;
}

.service-child p {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
  color: #bbbbbb;
  text-align: center;
}

  /*resume*/
  #resume {
    width: 80vw;
    height: 93vh;
    background-color: #222;
    position: absolute;
    top: 4vh;   
    right: 5vw;
    left: 5vw;
    max-width: 130rem;
    margin: auto;
    overflow-x: hidden;
    overflow-y: scroll;   
}


.parent {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}
.child {
  width: 30rem;
  height: auto;
  margin-top: 2rem;
}
#button {
  margin-top: 0;
  padding: 7px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: whitesmoke;
  background-color: #222;
  border: 2px solid #ff724c;
}
#button:hover {
  background-color: #ff724c;
}

.child h5 {
  background-color: #ff724c;
  width: 60px;
  text-align: center;
  font-size: 13px;
  font-weight: 300;
  padding: 4px;
  font-family: "Oxygen", sans-serif;
}

.child1 h4 {
  font-size: 16px;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-family: "Oxygen", sans-serif;
}

.child1 small {
  font-size: 1.1rem;
  font-family: 700;
}

.child1 p {
  font-size: 1.2rem;
  font-weight: 700;
  color: #c5c5c5;
  line-height: 24px;
  margin-top: 0.3rem;
}

.child1 {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.child1 h3 {
  background-color: #ff724c;
  width: 120px;
  text-align: center;
  font-size: 13px;
  font-weight: 300;
  padding: 4px;
  font-family: "Oxygen", sans-serif;
}

progress {
  border: none;
  width: 270px;
  height: 12px;
  background: #222;
  border: 1px solid #555;
  padding: 1px;
  margin-bottom: 0.5rem;
  margin-top: 0.3rem;
}

progress::-webkit-progress-value {
  background: #ff724c;
}

progress::-webkit-progress-bar {
  background: #222;
}

.d-item {
  margin-top: 2rem;
  margin-left: 1rem;
}

.child h2 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 14px;
  font-family: "Oxygen", sans-serif;
  margin-bottom: 0;
  margin-top: 0.3rem;
}

.c-item {
  margin-top: 2rem;
  margin-left: 1rem;
}



/*portfoilio*/

#portfolio {
    width: 80vw;
    height: 93vh;
    background-color: #222;
    position: absolute;
    top: 4vh;   
    right: 5vw;
    left: 16vw;
    max-width: 130rem;
    margin: auto;
    overflow-x: hidden;
    overflow-y: scroll;    
}

/*contacts*/

.content-container1 {
  margin-left: 1rem;
  margin-right: 2rem;
  margin-top: 3rem;
}

.content-container1 h1 {
  font-size: 6rem;
  color: #555;
  text-align: center;
  font-weight: 700;
  padding-top: 1.5rem;

}

#contacts {
    width: 80vw;
    height: 93vh;
    background-color: #222;
    position: absolute;
    top: 4vh;   
    right: 5vw;
    left: 16vw;
    max-width: 130rem;
    margin: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    
}

.contact-p {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

.contact-c {
  width: 44rem;
  height: auto;
  margin-top: 2rem;
  margin-left: 0;
}

.contact-c p {
  font-size: 1.3rem;
  margin-top: 2rem;
  color: #d3d3d3;
  font-weight: 500;
  line-height: 2rem;
  margin-left: 1rem;
}
.contact-list {
  margin-top: 2rem;
  margin-left: -2rem;
  line-height: 5rem;
}

.contact-list li {
  list-style: none;
  font-size: 1.3rem;
  font-weight: 700;
}

.contact-list .fas {
  font-size: 2.5rem;
  color: rgb(119, 117, 117);
  
  
}

form {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}

#form-name {
  background-color: #222;
  border-radius: 0;
  height: 4rem;
  border: 1px solid #555;
  font-weight: 700;
  font-size: 1.3rem;
  color: white;
  
}

#button1 {
  margin-top: 0;
  padding: 8px;
  padding-left: 2rem;
  padding-right: 2rem;
  color: whitesmoke;
  background-color: #222;
  border: 2px solid #ff724c;
}
#button1:hover {
  background-color: #ff724c;
  
}

.icon-p {
 position: relative;
}
 form .fas {
   position: absolute;
   padding-top: 1rem;
   margin-left: 40rem;
   color: rgb(119, 117, 117);
 }
 
/*animated text*/

.animated-text {
    padding-bottom: 0px;
    padding-top: 40px;
    height: 1px;
    overflow: hidden;
  }
  
  .line {
    text-align: center;
    line-height: 6rem;
    font-size: 2rem;
    color: black;
    font-weight: 100;
  }
  
  .line:first-child {
    animation: anim 15s infinite;
  }
  
  @keyframes anim {
    0% {
      margin-top: 0;
    }
    16% {
      margin-top: -60px;
    }
    33% {
      margin-top: -120px;
    }
    50% {
      margin-top: -180px;
    }
    66% {
      margin-top: -120px;
    }
    82% {
      margin-top: -60px;
    }
    100% {
      margin-top: 0;
    }
  }

 

/*scroll-bar*/
/* width */


::-webkit-scrollbar {
  width: 3px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgb(224, 219, 219);
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff724c ; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f78160; 
}

/*media queries*/

@media (max-width: 899px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    d
  }

  .navbar.active {
    display: block;
  }

  .topnav {
    background-color: #222;
    width: 100vw;
    height: 4rem;
    z-index: 2;
    position: absolute;
    border-bottom: 1px solid #343434;
   /* position: absolute;/*can be removed*/
    }

    .topnav h2 {
        margin: 0;
        padding: 0;
        padding-top: 1rem;
        color: white;
        font-size: 2rem;
        margin-left: 1rem;
        display: block;
        z-index: 2;
        position: absolute;
    }
    
    .content .text h1 {
        font-size: 4rem;
        
    }

    .line {
      
        font-size:1.5rem;
      
      }

      #about-me {
        width:100%;
        height: 100%;     
        position: absolute;
        top: 4rem; 
        left: 0;
        margin: 0;   
    }

    #resume {
        width:100%;
        height: 100%;     
        position: absolute;
        top: 4rem; 
        left: 0;
        margin: 0;   
    }

    #portfolio {
        width:100%;
        height: 100%;     
        position: absolute;
        top: 4rem; 
        left: 0;
        margin: 0;   
    }

    #contacts {
        width:100%;
        height: 100%;     
        position: absolute;
        top: 4rem; 
        left: 0;
        margin: 0;   
    }
    #side-border {
      display: none;
    }

    .content-container {
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 2rem;
    }

    form .fas {
      position: absolute;
      padding-top: 1rem;
      margin-left: 28rem;
    }
}

@media (min-width: 900px) {
  .navbar-pc {
      display: inline-block;
  }
  
}


@media (min-width: 1400px) {
  .top-c {
    width: 39rem;
    height: auto;
    margin-top: 3rem;
  }
}